body {
	background-color: #F5F5F5;
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

/*
	Nav elements
*/

#left-panel {
	background-color: inherit;
	position: fixed;
	width: 200px;
	height: 100%;
	border-right: 1px solid #AAA;
	-webkit-box-shadow: 0px 1px 3px #AAA;
	font-size: 25px;

	text-align: center;
	z-index: 1;
}

#left-panel div {
	position: relative;

	height: 40px;
	padding-top: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 1px #BBB;
	z-index: 2;
}

#list-panel {
	position: absolute;
	left: -200px;
	width: 200px;
	padding-left: 200px;
}

.selected {
	-webkit-box-shadow: 0px 1px 3px #777 inset;
	cursor: default;
	background-color: #E5E5E5;
	text-shadow: 2px 2px 2px #BBB !important;
	z-index: 99;
}

/*
	General Layout Thingies
*/

.row1 {height: 100%;}
.row2 {height: 50%;}
.row4 {height: 25%;}

.col1 {width: 100%;}
.col2 {width: 50%;}
.col4 {width: 25%;}
.col5 {width: 20%;}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}